.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.gallery a{
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.gallery a img:hover{
    transform: scale(1.4);
}
